@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    gap: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}

input{
    border: none;
    background: none;
    width: auto;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none; 
    box-shadow: none; 
    cursor: pointer; 
}

.navbar {
    transition: width 0.3s ease, opacity 0.3s ease;
}
  
.navbar-content {
    transition: opacity 0.3s ease;
}   